<template>
  <app-bar app></app-bar>
  <v-main class="main-bg">
    <v-container class="main-container" fluid>
      <div class="content">
        <slot></slot>
      </div>
    </v-container>
    <app-footer location="bottom"></app-footer>
  </v-main>
</template>

<script>
import AppBar from "@/components/AppBar.vue";
import AppFooter from "@/components/AppFooter.vue";
export default {
  components: { AppBar, AppFooter },
  setup() {
    return {};
  },
};
</script>

<style>
.content {
  padding: 8px 16px;
  min-height: calc(100vh - 64px - 229px);
}

body,
.main-bg {
  background-color: #080808;
}
</style>
