<template>
  <v-theme-provider theme="dark">
    <v-window v-model="step" class="v-theme-provider h-100">
      <v-window-item :value="1" class="h-100">
        <v-row class="h-100">
          <v-col cols="12" sm="6" class="d-flex flex-column justify-center">
            <v-card-title class="ma-8 center">Zaloguj się</v-card-title>
            <v-row align="center" justify="center" class="flex-grow-0">
              <v-col style="text-align: center" cols="12" sm="8">
                <v-form ref="form" v-model="valid" lazy-validation>
                  <v-text-field
                    v-model="user.email"
                    label="Email"
                    aria-autocomplete="list"
                    class="v-theme-provider mb-2"
                    type="email"
                    variant="outlined"
                    :rules="emailRules"
                  ></v-text-field>
                  <v-text-field
                    variant="outlined"
                    v-model="user.password"
                    aria-autocomplete="list"
                    label="Hasło"
                    type="password"
                    class="v-theme-provider"
                    :rules="passwordRules"
                  ></v-text-field>
                </v-form>

                <v-btn size="small" color="secondary" variant="plain"
                  >Zapomniałeś hasła?
                </v-btn>

                <v-btn
                  class="mt-8 mb-4"
                  color="secondary"
                  block
                  variant="tonal"
                  @click="login(user)"
                  :disabled="!valid"
                  >Zaloguj
                </v-btn>
              </v-col>
            </v-row>
          </v-col>
          <v-col
            cols="12"
            sm="6"
            class="d-flex flex-column align-center justify-center"
            style="background-color: #a52422; color: white"
          >
            <span class="text-h5 text-center">Nie masz jeszcze konta?</span>
            <span class="mx-8 my-4 text-center text-caption">
              Załóż konto już teraz i uzyskaj dostęp do Twojej prywatnej
              przestrzeni, w której zapiszesz nieograniczoną ilość stron,
              artykułów czy publikacji.
            </span>
            <v-btn :rounded="0" @click="step++" class="my-8" variant="tonal"
              >ZAREJESTRUJ
            </v-btn>
          </v-col>
        </v-row>
      </v-window-item>
      <v-window-item :value="2" class="h-100">
        <v-row class="h-100">
          <v-col
            cols="12"
            sm="6"
            class="d-flex flex-column align-center justify-center"
            style="background-color: #a52422; color: white"
          >
            <span class="mt-3 text-h5">Masz już konto?</span>
            <span class="mx-8 my-4 text-center text-caption">
              Zaloguj się już teraz i uzyskaj dostęp do Twojej prywatnej
              przestrzeni, w której zapiszesz nieograniczoną ilość stron,
              artykułów czy publikacji.
            </span>
            <v-btn :rounded="0" @click="step--" class="my-8" variant="tonal"
              >ZALOGUJ
            </v-btn>
          </v-col>
          <v-col
            cols="12"
            sm="6"
            class="px-4 d-flex flex-column justify-center"
          >
            <v-card-title class="ma-8">Zarejestruj się</v-card-title>
            <v-row align="center" justify="center" class="flex-grow-0">
              <v-col style="text-align: center" cols="12" sm="8">
                <v-form v-model="valid" @submit.prevent="register(user)">
                  <v-text-field
                    label="Email"
                    v-model="registerUser.email"
                    type="email"
                    autocomplete="off"
                    variant="outlined"
                    :rules="emailRules"
                    class="mb-2"
                  ></v-text-field>
                  <v-text-field
                    v-model="registerUser.password"
                    autocomplete="off"
                    label="Hasło"
                    name="password"
                    type="password"
                    variant="outlined"
                    :rules="passwordRules"
                    class="mb-2"
                  ></v-text-field>
                  <v-text-field
                    v-model="registerUser.confirmPassword"
                    autocomplete="off"
                    label="Powtórz hasło"
                    type="password"
                    variant="outlined"
                    :rules="confirmPasswordRules"
                  ></v-text-field>

                  <v-btn
                    :disabled="!valid"
                    type="submit"
                    class="action-button mt-8 mb-4 v-theme-provider"
                    color="secondary"
                    block
                    variant="tonal"
                    >Zarejestruj
                  </v-btn>
                </v-form>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-window-item>
      <v-snackbar
        v-model="snackbar.show"
        :timeout="5000"
        color="error"
        rounded="pill"
      >
        <div class="text-center">
          {{ snackbar.message }}
        </div>
      </v-snackbar>
    </v-window>
  </v-theme-provider>
</template>

<script>
import { ref, reactive } from "vue";
import { useAuth } from "@/store/auth";

export default {
  setup() {
    const step = ref(1);
    const valid = ref(true);

    const passwordRules = ref([
      (v) => !!v || "To pole jest wymagane",
      (v) => v.length >= 8 || "Hasło musi mieć przynajmniej 8 znaków",
    ]);
    const emailRules = ref([
      (v) => !!v || "To pole jest wymagane",
      (v) =>
        /^[\w-.]+@([\w-]+\.)+[\w-]{2,4}$/.test(v) || "Niepoprawny adres email",
    ]);
    const confirmPasswordRules = ref([
      (v) => !!v || "To pole jest wymagane",
      (v) => v.length >= 8 || "Hasło musi mieć przynajmniej 8 znaków",
      (v) => v === registerUser.value.password || "Hasła muszą być identyczne",
    ]);

    const snackbar = reactive({ show: false, message: null });

    const auth = useAuth();

    const user = ref({
      email: "",
      password: "",
    });

    const registerUser = ref({
      email: "",
      password: "",
      confirmPassword: "",
    });

    function login() {
      auth
        .login(user.value)
        .then(() => {
          location.href = "http://localhost:8080";
        })
        .catch((error) => {
          snackbar.show = true;
          snackbar.message = error.response.data.message;
        });
    }

    function register() {
      auth
        .register(registerUser.value)
        .then(() => {
          user.value = {
            email: registerUser.value.email,
            password: registerUser.value.password,
          };
          login();
        })
        .catch((error) => {
          snackbar.show = true;
          snackbar.message = error.response.data.message;
          registerUser.value = {
            email: "",
            password: "",
            confirmPassword: "",
          };
        });
    }

    return {
      user,
      registerUser,
      login,
      register,
      auth,
      step,
      valid,
      emailRules,
      passwordRules,
      confirmPasswordRules,
      snackbar,
    };
  },
};
</script>

<style scoped>
.center {
  justify-content: center;
}
</style>
