<template>
  <app-bar app></app-bar>
  <side-bar app></side-bar>
  <v-main class="main-bg">
    <v-container class="main-container" fluid>
      <div class="content">
        <slot></slot>
      </div>
    </v-container>
    <app-footer location="bottom"></app-footer>
  </v-main>
</template>

<script>
import AppBar from "@/components/AppBar.vue";
import SideBar from "@/components/SideBar.vue";
import AppFooter from "@/components/AppFooter.vue";

export default {
  components: { AppBar, SideBar, AppFooter },
  setup() {
    return {};
  },
};
</script>

<style>
.main-container {
  padding: 0;
}

.content {
  padding: 8px 16px;
  background-color: #080808;
  min-height: calc(100vh - 64px - 229px);
}

body,
.main-bg {
  background-color: #080808;
}
</style>
