<template>
  <div class="read-view">
    <v-card
      theme="dark"
      class="pa-2 d-flex justify-space-between"
      v-if="link"
      style="position: fixed; z-index: 2000; width: 100%"
      rounded="0"
    >
      <v-btn variant="plain" icon="fas fa-arrow-left" to="/links"></v-btn>
      <v-item-group class="ml-auto mr-auto align-center d-flex">
        <v-tooltip anchor="bottom">
          <template v-slot:activator="{ props }">
            <v-btn
              variant="plain"
              @click="toggle('favorite')"
              icon
              v-bind="props"
              class="mx-2"
            >
              <v-icon v-if="!link.favorite">far fa-heart</v-icon>
              <v-icon v-if="link.favorite">fas fa-heart</v-icon>
            </v-btn>
          </template>
          <span class="bg-transparent" v-if="!link.favorite"
            >Dodaj do ulubionych</span
          >
          <span class="bg-transparent" v-if="link.favorite"
            >Usuń z ulubionych</span
          >
        </v-tooltip>

        <v-dialog v-model="dialog.tags" scrollable>
          <template v-slot:activator="{ props: dialog }">
            <v-tooltip anchor="bottom">
              <template v-slot:activator="{ props: tooltip }">
                <v-btn
                  variant="plain"
                  icon="fas fa-tag"
                  v-bind="mergeProps(dialog, tooltip)"
                  class="mx-2"
                ></v-btn>
              </template>
              <span class="bg-transparent">Otaguj</span>
            </v-tooltip>
          </template>
          <v-card>
            <v-card-title>Zarządzanie tagami</v-card-title>
            <v-combobox
              class="mx-10 align-center"
              style="min-width: 500px"
              v-model="newTags"
              label="Wpisz tagi oddzielone enterem"
              multiple
              variant="solo"
              hide-selected
            >
              <template v-slot:selection="{ attrs, item }">
                <v-chip closable v-bind="attrs" @click:close="removeTag(item)">
                  {{ item.value?.name ?? item.value }}
                </v-chip>
              </template>
            </v-combobox>

            <v-card-actions>
              <v-btn @click="setTags()">ZAPISZ</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-tooltip anchor="bottom">
          <template v-slot:activator="{ props }">
            <v-btn
              variant="plain"
              icon="fas fa-share"
              v-bind="props"
              class="mx-2"
            ></v-btn>
          </template>
          <span class="bg-transparent">Udostępnij</span>
        </v-tooltip>

        <v-tooltip anchor="bottom">
          <template v-slot:activator="{ props }">
            <v-btn
              variant="plain"
              @click="dialog.archive = true"
              icon="fas fa-box-archive"
              v-bind="props"
              class="mx-2"
            ></v-btn>
          </template>
          <span class="bg-transparent">Archiwizuj</span>
        </v-tooltip>
        <v-dialog v-model="dialog.archive">
          <v-card>
            <v-card-text>
              Czy jesteś pewny że chcesz archiwizować ten link?
            </v-card-text>
            <v-card-actions class="justify-space-between">
              <v-btn color="error" @click="dialog.archive = false"
                >Anuluj</v-btn
              >
              <v-btn color="success" @click="toggle('archive')"
                >Potwierdź</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-tooltip anchor="bottom">
          <template v-slot:activator="{ props }">
            <v-btn
              variant="plain"
              @click="dialog.delete = true"
              icon="fas fa-trash-can"
              v-bind="props"
              class="mx-2"
            ></v-btn>
          </template>
          <span class="bg-transparent">Usuń z listy</span>
        </v-tooltip>
        <v-dialog v-model="dialog.delete">
          <v-card>
            <v-card-text>
              Czy jesteś pewny że chcesz usunąć ten link?
            </v-card-text>
            <v-card-actions class="justify-space-between">
              <v-btn color="error" @click="dialog.delete = false">Anuluj</v-btn>
              <v-btn color="success" @click="deleteLink()">Potwierdź</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-item-group>

      <v-btn variant="plain" icon="fas fa-gear"></v-btn>
    </v-card>
    <v-container class="text-container" v-if="read">
      <v-card class="read-card" elevation="0">
        <v-card-title class="justify-center text-center text-h4" v-if="read">
          {{ read.title }}
        </v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            append-icon="fas fa-chevron-right"
            size="large"
            target="_blank"
            :href="url"
            >Idż do strony
          </v-btn>
        </v-card-actions>
        <v-card-text class="text-content"></v-card-text>
      </v-card>
    </v-container>
    <app-footer></app-footer>
  </div>
</template>

<script setup>
import AppFooter from "@/components/AppFooter.vue";
import { useRoute } from "vue-router";
import { ref, mergeProps } from "vue";
import LinkService from "@/services/link.service.js";
import router from "@/router";
import { Readability } from "@mozilla/readability";
import ReadService from "@/services/read.service.js";

const route = useRoute();
const id = route.params.id;

const url = ref(null);

const dialog = ref({
  archive: false,
  delete: false,
  tags: false,
});

let link = ref(null);

const newTags = ref(null);

LinkService.getLink(id).then((response) => {
  link.value = response;
  url.value = link.value.url;
  newTags.value = link.value.tags;
});

let read = ref(null);

ReadService.getSourceCodeById(id)
  .then((response) => {
    const parser = new DOMParser();
    const doc = parser.parseFromString(response.data, "text/html");
    read.value = new Readability(doc).parse();
  })
  .then(() => {
    const textContent = document.querySelector(".text-content");
    textContent.innerHTML = read.value.content;
  })
  .then(() => {
    setStyles(1.2);
  });

function setStyles(factor) {
  const defaultSize = 18;
  const size = `${factor * defaultSize}px`;
  const lineSize = `${factor * defaultSize * 1.4}px`;
  const codeSize = `${factor * defaultSize * 0.8}px`;
  const marginSize = `${factor * defaultSize * 0.6}px`;
  const imgMarginSize = `${factor * defaultSize}px`;
  const captionSize = `${factor * defaultSize * 0.7}px`;
  const textContent = document.querySelector(".text-content");

  const domain = new URL(link.value.url);
  const regex = /http:\/\/localhost:8080(\/read\/\d+)*/gi;

  textContent.querySelectorAll("p").forEach((p) => {
    p.style.fontSize = size;
    p.style.lineHeight = lineSize;
    p.style.marginBottom = marginSize;
    p.style.marginTop = marginSize;
  });
  textContent.querySelectorAll("span").forEach((span) => {
    if (span.parentElement.tagName === "SPAN") {
      return;
    }
    span.style.fontSize = size;
    span.style.lineHeight = lineSize;
    span.style.marginBottom = marginSize;
    span.style.marginTop = marginSize;
  });
  textContent.querySelectorAll("pre, code > span").forEach((pre) => {
    pre.style.backgroundColor = "#a09b9b";
    pre.style.fontSize = codeSize;
    pre.style.lineHeight = size;
    pre.style.marginBottom = marginSize;
    pre.style.marginTop = marginSize;
    pre.style.overflowY = "hidden";
    pre.style.overflowX = "auto";
  });
  textContent.querySelectorAll("li").forEach((li) => {
    li.style.fontSize = size;
    li.style.lineHeight = lineSize;
    li.style.marginLeft = size;
    li.style.marginBottom = marginSize;
    li.style.marginTop = marginSize;
  });
  textContent.querySelectorAll("a").forEach((a) => {
    let origin = a.href;
    a.href = origin.replaceAll(regex, `http://${domain.hostname}`);
    if (a.href.charAt(`http://${domain.hostname}`.length + 1) === "#") {
      a.href = a.href.replace(`http://${domain.hostname}`, link.value.url);
    }
    a.style.color = "inherit";
    a.addEventListener("mouseover", () => {
      a.style.color = "#A52422";
    });
    a.addEventListener("mouseleave", () => {
      a.style.color = "inherit";
    });
  });
  textContent.querySelectorAll("img").forEach((img) => {
    let origin = img.src;
    img.src = origin.replaceAll(regex, `http://${domain.hostname}`);
    img.style.display = "block";
    img.style.maxWidth = "100%";
    img.style.maxHeight = "100%";
    img.style.width = "auto";
    img.style.height = "auto";
    img.style.marginBottom = imgMarginSize;
    img.style.marginTop = imgMarginSize;
  });
  textContent.querySelectorAll("h1, h2, h3, h4, h5, h6").forEach((h) => {
    const tagName = h.tagName;
    let tagWeight = 1;
    switch (tagName) {
      case "H1":
        tagWeight = 2;
        break;
      case "H2":
        tagWeight = 1.5;
        break;
      case "H3":
        tagWeight = 1.17;
        break;
      case "H5":
        tagWeight = 0.83;
        break;
      case "H6":
        tagWeight = 0.67;
        break;
    }
    h.style.fontSize = `${tagWeight * factor * defaultSize}px`;
    h.style.marginBottom = `${tagWeight * factor * defaultSize * 0.8}px`;
    h.style.marginTop = `${tagWeight * factor * defaultSize * 0.8}px`;
    h.style.lineHeight = `${tagWeight * factor * defaultSize}px`;
  });
  textContent
    .querySelectorAll("figcaption, figcaption > span")
    .forEach((figcaption) => {
      figcaption.style.fontSize = captionSize;
      figcaption.style.fontStyle = "italic";
    });
  textContent.querySelectorAll("blockquote").forEach((quote) => {
    const quoteIcon = document.createElement("v-btn");
    quoteIcon.className =
      "fas fa-quote-left v-icon notranslate v-icon--size-default v-theme--light";
    quoteIcon.style.fontSize = `${factor * defaultSize * 1.3}px`;
    quoteIcon.style.marginRight = size;
    quote.style.display = "flex";
    quote.style.alignItems = "center";
    quote.insertBefore(quoteIcon, quote.firstChild);
  });
  textContent.querySelectorAll("th, td, table").forEach((cell) => {
    cell.style.border = "solid 2px black";
    cell.style.fontSize = size;
    cell.style.padding = "5px";
    cell.style.borderCollapse = "collapse";
  });
}

function toggle(toggleOption) {
  switch (toggleOption) {
    case "favorite":
      link.value.favorite = !link.value.favorite;
      break;
    case "unread":
      link.value.unread = !link.value.unread;
      break;
    case "archive":
      link.value.archived = !link.value.archived;
      dialog.value.archive = false;

      //TODO - find a better way to proper display
      document
        .querySelector("html")
        .classList.remove("v-overlay-scroll-blocked");
      document.querySelector("html").style = null;

      router.push({ name: "links" });

      break;
  }
  LinkService.patchLink(id, toggleOption);
}

function deleteLink() {
  LinkService.deleteLink(id);
  dialog.value.delete = false;
  document.querySelector("html").classList.remove("v-overlay-scroll-blocked");
  document.querySelector("html").style = null;
  router.push({ name: "links" });
}

function setTags() {
  const tags = newTags.value
    .map((tag) => {
      return new Object({ id: tag.id, name: tag.name ?? tag });
    })
    .filter(
      (value, index, self) =>
        index === self.findIndex((t) => t.name === value.name)
    );
  link.value.tags = tags;
  newTags.value = tags;

  LinkService.patchLink(link.value.id, null, tags);
  dialog.value.tags = false;
}

function removeTag(item) {
  newTags.value = newTags.value.filter((tag) => tag.name !== item.value.name);
}
</script>

<style scoped>
.read-view {
  background-color: #b7baba;
}

.read-card {
  background-color: transparent;
}

::v-deep(code):not(pre code) {
  background-color: #a7a9a9 !important;
  padding: 0 3px !important;
  font-family: Consolas, Menlo, Lucida Console, Courier New, monospace, serif !important;
}

::v-deep(pre *),
::v-deep(pre) {
  background-color: #9d9d9d !important;
  padding: 4px;
}

.text-container {
  margin-top: 100px;
}
</style>
