<template>
  <v-container fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="12" md="9" lg="6">
        <v-card
          class="pb-10 mt-4 forgot-password-card"
          style="background-color: #eff2f0"
        >
          <v-card-title
            class="py-8 justify-center"
            style="background-color: #a52422; color: white"
          >
            <span>Resetowanie hasła</span>
          </v-card-title>

          <v-row align="center" justify="center">
            <v-col
              cols="12"
              sm="6"
              class="d-flex flex-column align-center justify-center"
            >
              <v-card-subtitle class="mt-16 mb-8 text-center justify-center">
                <span> Ustaw nowe hasło do konta LinkBox </span>
              </v-card-subtitle>
              <v-form class="px-4" style="width: 100%">
                <v-text-field
                  label="Nowe hasło"
                  aria-autocomplete="false"
                  color="#38726C"
                >
                </v-text-field>
                <v-text-field
                  label="Powtórz nowe hasło"
                  aria-autocomplete="false"
                  color="#38726C"
                >
                </v-text-field>
              </v-form>
              <v-btn color="#38726C" rounded="0"> Resetuj hasło </v-btn>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  setup() {
    return {};
  },
};
</script>

<style></style>
