<template>
  <home-layout>
    <v-theme-provider theme="dark">
      <v-card
        variant="text"
        :elevation="0"
        class="bg-transparent ma-2 ma-sm-16"
      >
        <v-card-title class="text-white text-center text-sm-left">
          <span class="font-weight-light text-h4 text-sm-h3"
            >Zarządzaj kontem</span
          >
          <v-divider class="mt-8"></v-divider>
        </v-card-title>
        <v-container class="mt-16 overflow-visible">
          <v-row no-gutters>
            <v-col
              md="3"
              class="justify-end pr-4 overflow-visible d-none d-md-flex"
            >
              <v-label
                class="text-white w-25 justify-md-end w-100 overflow-visible"
              >
                Identyfikator profilu
              </v-label>
            </v-col>
            <v-col cols="9" md="6">
              <v-text-field
                :model-value="user.userProfileAlias ?? user.userProfile"
                readonly
                density="comfortable"
                class="v-theme-provider account-text-field"
                variant="outlined"
                :label="
                  ['xs', 'sm'].includes(name) ? 'Identyfikator profilu' : null
                "
                hide-details
              ></v-text-field>
            </v-col>
            <v-col cols="3">
              <v-btn
                theme="dark"
                class="text-white"
                variant="plain"
                size="large"
                rounded="0"
                @click="
                  show = true;
                  variant = 'profile-id';
                "
                >Edytuj
              </v-btn>
            </v-col>
          </v-row>
          <v-row no-gutters class="mt-10">
            <v-col
              md="3"
              class="justify-end pr-4 overflow-visible d-none d-md-flex"
            >
              <v-label
                class="text-white w-25 justify-md-end w-100 overflow-visible"
              >
                Email
              </v-label>
            </v-col>
            <v-col cols="9" md="6">
              <v-text-field
                v-model="user.email"
                readonly
                density="comfortable"
                class="v-theme-provider account-text-field"
                variant="outlined"
                :label="['xs', 'sm'].includes(name) ? 'Email' : null"
                hide-details
              ></v-text-field>
            </v-col>
            <v-col cols="3">
              <v-btn
                theme="dark"
                class="text-white"
                variant="plain"
                size="large"
                rounded="0"
                @click="
                  show = true;
                  variant = 'email';
                "
                >Edytuj
              </v-btn>
            </v-col>
          </v-row>
          <v-row class="mt-16">
            <v-col class="d-flex justify-center">
              <v-btn
                theme="dark"
                class="text-white"
                variant="plain"
                size="large"
                rounded="0"
                @click="
                  show = true;
                  variant = 'password';
                "
                >Zmień hasło
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
      <v-dialog v-model="show">
        <data-change-component
          :variant="variant"
          @cancel="show = false"
          @saved="saved"
        ></data-change-component>
      </v-dialog>
      <v-snackbar
        v-model="snackbar.show"
        :timeout="3000"
        :color="snackbar.status === 200 ? 'secondary' : 'error'"
        rounded="pill"
      >
        <div class="text-center">
          {{ snackbar.message }}
        </div>
      </v-snackbar>
    </v-theme-provider>
  </home-layout>
</template>

<script setup>
import HomeLayout from "@/views/HomeLayout.vue";
import { useDisplay } from "vuetify";
import DataChangeComponent from "@/components/DataChangeComponent";
import { reactive, ref } from "vue";
import { useAuth } from "@/store/auth";

const auth = useAuth();

const { name } = useDisplay();

const user = ref(auth.user);

const show = ref(false);
const variant = ref("password");
const snackbar = reactive({ show: false, status: 0, message: null });

function saved(data) {
  snackbar.show = data.show;
  snackbar.status = data.status;
  snackbar.message = data.message;
  show.value = false;
  user.value = auth.user;
}
</script>

<style scoped>
.account-text-field {
}
</style>
