<template>
  <v-app-bar
    theme="dark"
    class="appbar"
    :extended="true"
    :extension-height="mobileMenu ? fullVh : 0"
    elevation="1"
  >
    <v-app-bar-title class="font-weight-light">
      <strong>Link</strong>Box
    </v-app-bar-title>
    <v-item-group class="d-none d-sm-block">
      <v-btn v-if="loggedIn" to="/links"> Moje linki </v-btn>
      <v-btn to="/help">Pomoc</v-btn>
      <v-divider vertical class="mx-4"></v-divider>
      <v-btn v-if="!loggedIn" to="/login">Logowanie</v-btn>
      <v-menu v-if="loggedIn" anchor="start" min-width="200px">
        <template v-slot:activator="{ props }">
          <v-btn style="background: inherit" class="mx-8" icon v-bind="props">
            <v-avatar color="brown" size="large">
              <v-icon>fas fa-user</v-icon>
            </v-avatar>
          </v-btn>
        </template>
        <v-card>
          <v-card-text>
            <div class="mx-auto text-center">
              <v-avatar color="brown">
                <v-icon>fas fa-user</v-icon>
              </v-avatar>
              <p class="text-overline mt-1">{{ email }}</p>
              <v-divider class="mt-2" />
              <v-list nav active-color="secondary">
                <v-list-item prepend-icon="fas fa-user" to="/profile"
                  >Profil</v-list-item
                >
                <v-divider class="my-2" />
                <v-list-item prepend-icon="fas fa-user-gear" to="/account"
                  >Szczegóły konta</v-list-item
                >
                <v-list-item
                  prepend-icon="fas fa-right-from-bracket"
                  @click="logout()"
                  >Wyloguj</v-list-item
                >
              </v-list>
            </div>
          </v-card-text>
        </v-card>
      </v-menu>
    </v-item-group>
    <v-btn
      icon
      variant="plain"
      @click.stop="mobileMenu = !mobileMenu"
      class="d-flex d-sm-none"
    >
      <v-icon v-if="!mobileMenu">fas fa-bars</v-icon>
      <v-icon v-if="mobileMenu">fas fa-xmark</v-icon>
    </v-btn>
    <template v-if="mobileMenu" v-slot:extension>
      <v-list nav class="mobile-menu">
        <v-list-group v-if="loggedIn">
          <template v-slot:activator="{ props }">
            <v-list-item v-bind="props">
              <span class="text-overline" style="width: 100%">{{ email }}</span>
            </v-list-item>
          </template>
          <v-list-item title="Profil" to="/profile"></v-list-item>
          <v-list-item title="Szczegóły konta" to="/account"></v-list-item>
        </v-list-group>
        <v-divider></v-divider>
        <v-list-item v-if="loggedIn" title="Moje linki" to="/links">
        </v-list-item>
        <v-list-item title="Pomoc" to="/help"></v-list-item>
        <v-divider></v-divider>
        <v-list-item title="Wyloguj" @click="logout()"></v-list-item>
      </v-list>
    </template>
  </v-app-bar>
</template>

<script>
import { ref } from "vue";
import { useAuth } from "@/store/auth";
import { useRouter } from "vue-router";
export default {
  setup() {
    let mobileMenu = ref(false);

    const auth = useAuth();
    const router = useRouter();

    function logout() {
      auth.logout();
      router.push({ name: "main" });
    }

    const loggedIn = ref(auth.status.loggedIn);

    let email;

    if (loggedIn.value) {
      email = auth.user.email;
    }

    const fullVh = Math.round(window.innerHeight) - 64;

    return {
      mobileMenu,
      logout,
      loggedIn,
      email,
      fullVh,
    };
  },
};
</script>

<style>
.appbar {
  max-height: fit-content;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.v-toolbar__extension {
  align-items: start;
}
</style>
