<template>
  <v-footer class="app-footer">
    <v-card
      elevation="0"
      rounded="0"
      width="100%"
      class="footer-card text-center"
    >
      <v-card-text class="text-white">
        <v-btn to="/" class="mx-4" icon="fas fa-home" variant="plain"></v-btn>
        <div v-if="loggedIn">
          <v-btn
            to="/links"
            class="mx-4"
            icon="fas fa-list"
            variant="plain"
          ></v-btn>
          <v-btn
            to="/favorites"
            class="mx-4"
            icon="fas fa-heart"
            variant="plain"
          ></v-btn>
          <v-btn
            to="/archive"
            class="mx-4"
            icon="fas fa-box-archive"
            variant="plain"
          ></v-btn>
          <v-btn
            to="/highlights"
            class="mx-4"
            icon="fas fa-highlighter"
            variant="plain"
          ></v-btn>
          <v-btn
            to="/tags"
            class="mx-4"
            icon="fas fa-tags"
            variant="plain"
          ></v-btn>
        </div>
        <v-btn
          to="/help"
          class="mx-4"
          icon="fas fa-question"
          variant="plain"
        ></v-btn>
        <v-btn
          v-if="loggedIn"
          @click="logout()"
          class="mx-4"
          icon="fas fa-right-from-bracket"
          variant="plain"
        ></v-btn>
        <v-btn
          v-if="!loggedIn"
          to="/login"
          class="mx-4"
          icon="fas fa-right-to-bracket"
          variant="plain"
        ></v-btn>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-text class="text-white">
        {{ new Date().getFullYear() }} — <strong>Link</strong>Box
      </v-card-text>
    </v-card>
  </v-footer>
</template>

<script>
import { useAuth } from "@/store/auth";
import { useRouter } from "vue-router";
import { ref } from "vue";
export default {
  setup() {
    const auth = useAuth();
    const router = useRouter();

    function logout() {
      auth.logout();
      router.push({ name: "main" });
    }

    const loggedIn = ref(auth.status.loggedIn);

    return {
      logout,
      loggedIn,
    };
  },
};
</script>

<style>
.app-footer {
  padding: 0;
}

.footer-card {
  background-color: #080808;
}
</style>
