<template>
  <v-card class="my-4 link-card">
    <v-card-title>
      <span class="flex-grow-1">{{ l.title }}</span>
      <v-chip-group class="mr-10" v-if="l.tags">
        <v-chip
          :ripple="false"
          size="x-small"
          v-for="(t, j) in l.tags"
          :key="j"
          :value="t"
          ><span>
            {{ t.name }}
          </span>
        </v-chip>
      </v-chip-group>
    </v-card-title>
    <v-card-subtitle>
      <a target="_blank" class="text-secondary link-url" :href="l.url">{{
        l.url
      }}</a>
    </v-card-subtitle>

    <v-card-text class="pr-16 mr-16">{{ l.description }}...</v-card-text>
    <v-card-actions>
      <v-card-text class="text-caption"
        >Data dodania: {{ addedAt }}</v-card-text
      >

      <v-btn variant="plain" @click="dialog.archive = true" icon="">
        <v-icon> fas fa-archive </v-icon>
        <v-tooltip class="start-tooltip" activator="parent" location="start">
          <span>Przywróć</span>
        </v-tooltip>
      </v-btn>
      <v-dialog v-model="dialog.archive">
        <v-card>
          <v-card-text>
            Czy jesteś pewny że chcesz przywrócić ten link?
          </v-card-text>
          <v-card-actions class="justify-space-between">
            <v-btn color="error" @click="dialog.archive = false">Anuluj</v-btn>
            <v-btn color="success" @click="revert()">Potwierdź</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-btn variant="plain" @click="dialog.delete = true" icon>
        <v-icon> fas fa-trash-can </v-icon>
        <v-tooltip class="start-tooltip" activator="parent" location="start">
          <span>Usuń</span>
        </v-tooltip>
      </v-btn>
      <v-dialog v-model="dialog.delete">
        <v-card>
          <v-card-text>
            Czy jesteś pewny że chcesz usunąć ten link?
          </v-card-text>
          <v-card-actions class="justify-space-between">
            <v-btn color="error" @click="dialog.delete = false">Anuluj</v-btn>
            <v-btn color="success" @click="deleteLink()">Potwierdź</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-card-actions>
  </v-card>
</template>

<script>
import { ref, mergeProps } from "vue";
import LinkService from "@/services/link.service";
export default {
  props: {
    link: Object,
  },
  emits: ["refresh"],
  setup(props, context) {
    const l = ref(props.link);

    const dialog = ref({
      archive: false,
      delete: false,
    });

    function revert() {
      l.value.archived = !l.value.archived;
      dialog.value.archive = false;

      LinkService.patchLink(l.value.id, "archive").then(() => {
        context.emit("refresh");
      });
    }

    function deleteLink() {
      LinkService.deleteLink(l.value.id).then(() => {
        context.emit("refresh");
      });
      dialog.value.delete = false;
    }

    const addedAtDate = new Date(l.value.addedAt);
    const addedAt =
      addedAtDate.getDate() +
      "-" +
      (addedAtDate.getMonth() < 9 ? "0" : "") +
      (addedAtDate.getMonth() + 1) +
      "-" +
      addedAtDate.getFullYear() +
      ", " +
      (addedAtDate.getHours() < 10 ? "0" : "") +
      addedAtDate.getHours() +
      ":" +
      (addedAtDate.getMinutes() < 10 ? "0" : "") +
      addedAtDate.getMinutes();

    return {
      dialog,
      mergeProps,
      l,
      addedAt,
      deleteLink,
      revert,
    };
  },
};
</script>

<style scoped>
a {
  text-decoration: none;
}

.v-combobox .v-field input {
  align-self: unset !important;
}

.link-card {
  background-color: #121212;
}

.start-tooltip {
  white-space: nowrap;
}

::v-deep(.v-overlay__content) {
  width: unset;
}

.link-url:hover {
  color: #a52422 !important;
}
</style>
