<template>
  <v-card
    :min-width="['xs', 'sm'].includes(name) ? width : 600"
    max-width="800"
    class="align-self-center"
  >
    <v-card-title>
      {{ title }}
    </v-card-title>
    <v-form v-model="valid">
      <v-container class="px-12">
        <v-row no-gutters class="mt-10">
          <v-col>
            <v-text-field
              required
              v-model="form.newValue"
              class="v-theme-provider"
              variant="outlined"
              :label="newLabel"
              :rules="newRules"
              :type="fieldType"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row no-gutters class="mt-4" v-if="variant !== 'profile-id'">
          <v-col>
            <v-text-field
              required
              v-model="form.confirmValue"
              class="v-theme-provider"
              variant="outlined"
              :label="repeatNewLabel"
              :rules="repeatRules"
              :type="fieldType"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-divider class="my-10 mb-14"></v-divider>
        <v-row no-gutters>
          <v-col>
            <v-text-field
              required
              v-model="form.password"
              class="v-theme-provider"
              variant="outlined"
              :label="passwordLabel"
              :rules="passwordRules"
              type="password"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-container>
    </v-form>
    <v-card-actions>
      <v-btn :disabled="!valid" size="large" color="secondary" @click="save()"
        >Zapisz</v-btn
      >
      <v-btn size="large" color="error" @click="$emit('cancel')">Anuluj</v-btn>
    </v-card-actions>

    <v-snackbar
      v-model="snackbar.show"
      :timeout="3000"
      :color="snackbar.status === 200 ? 'secondary' : 'error'"
      rounded="pill"
    >
      <div class="text-center">
        {{ snackbar.message }}
      </div>
    </v-snackbar>

    <v-overlay :model-value="loading" class="align-center justify-center">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </v-card>
</template>

<script setup>
import { defineProps, defineEmits, reactive, ref } from "vue";
import AuthService from "@/services/auth.service";
import { useAuth } from "@/store/auth";
import UserProfileService from "@/services/user-profile.service";
import { useDisplay } from "vuetify";

const auth = useAuth();
const { name, width } = useDisplay();

const props = defineProps({ variant: String });
const emit = defineEmits(["saved", "cancel"]);

const loading = ref(false);
const fieldType = ref("password");
const snackbar = reactive({ show: false, status: 0, message: null });
const title = ref(null);
const newLabel = ref(null);
const repeatNewLabel = ref(null);
const passwordLabel = ref("Hasło");
const form = reactive({ newValue: null, confirmValue: null, password: null });
const valid = ref(false);
const newRules = ref([]);
const repeatRules = ref([]);
const passwordRules = ref([
  (v) => !!v || "To pole jest wymagane",
  (v) => v.length >= 8 || "Hasło musi mieć przynajmniej 8 znaków",
]);

switch (props.variant) {
  case "password":
    title.value = "Zmień hasło";
    newLabel.value = "Nowe hasło";
    repeatNewLabel.value = "Powtórz nowe hasło";
    passwordLabel.value = "Aktualne hasło";
    newRules.value = passwordRules.value;
    repeatRules.value.push(
      ...passwordRules.value,
      (v) => v === form.newValue || "Hasła muszą być identyczne"
    );
    break;
  case "email":
    fieldType.value = "email";
    title.value = "Zmień email";
    newLabel.value = "Nowy email";
    repeatNewLabel.value = "Powtórz nowy email";
    newRules.value = [
      (v) => !!v || "To pole jest wymagane",
      (v) =>
        /^[\w-.]+@([\w-]+\.)+[\w-]{2,4}$/.test(v) || "Niepoprawny adres email",
    ];
    repeatRules.value = [
      (v) => v === form.newValue || "Emaile muszą być identyczne",
      (v) => !!v || "To pole jest wymagane",
      (v) =>
        /^[\w-.]+@([\w-]+\.)+[\w-]{2,4}$/.test(v) || "Niepoprawny adres email",
    ];
    break;
  case "profile-id":
    fieldType.value = "text";
    title.value = "Zmień identyfikator profilu";
    newLabel.value = "Identyfikator profilu";
    newRules.value = [
      (v) => !!v || "To pole jest wymagane",
      (v) =>
        v.length >= 4 || "Identyfikator profilu musi mieć przynajmniej 4 znaki",
    ];
    break;
}

function save() {
  loading.value = true;
  switch (props.variant) {
    case "password":
      AuthService.changePassword({
        newPassword: form.newValue,
        oldPassword: form.password,
      })
        .then((result) => {
          handleResult(result);
        })
        .then(() => {
          loading.value = false;
        });
      break;
    case "email":
      AuthService.changeEmail({
        newEmail: form.newValue,
        password: form.password,
      })
        .then((result) => {
          if (result.status === 200) {
            auth
              .login({ email: form.newValue, password: form.password })
              .then(() => {
                handleResult(result);
              });
          } else {
            handleResult(result);
          }
        })
        .then(() => {
          loading.value = false;
        });
      break;
    case "profile-id":
      UserProfileService.changeUserProfileId({
        oldId: auth.user.userProfileAlias ?? auth.user.userProfile,
        newId: form.newValue,
        password: form.password,
      })
        .then((result) => {
          if (result.status === 200) {
            auth
              .login({ email: auth.user.email, password: form.password })
              .then(() => {
                handleResult(result);
              });
          } else {
            handleResult(result);
          }
        })
        .then(() => {
          loading.value = false;
        });
      break;
  }
}

function handleResult(result) {
  if (result.status === 200) {
    emit("saved", {
      show: true,
      status: result.status,
      message: result.data.message,
    });
  } else {
    form.password = null;
    form.newValue = null;
    form.confirmValue = null;
    snackbar.show = true;
    snackbar.status = result.status;
    snackbar.message = result.data.message;
  }
}
</script>

<style scoped>
::v-deep(.v-input__details) {
  background-color: #212121 !important;
}
</style>
