<template>
  <v-card class="my-4 link-card" theme="dark">
    <v-card-title class="pr-16">
      <span class="flex-grow-1">{{ l.title }}</span>
      <v-chip-group class="mr-10" v-if="l.tags">
        <v-chip
          :ripple="false"
          size="x-small"
          v-for="(t, j) in l.tags"
          :key="j"
          :value="t"
          ><span>
            {{ t.name ?? t }}
          </span>
        </v-chip>
      </v-chip-group>
    </v-card-title>
    <v-card-subtitle>
      <a target="_blank" class="text-secondary link-url" :href="l.url">{{
        l.url
      }}</a>
    </v-card-subtitle>

    <v-card-text class="pr-16 mr-16">{{ l.description }}...</v-card-text>
    <v-card-actions>
      <v-card-text class="text-caption text-grey"
        >Data dodania: {{ addedAt }}</v-card-text
      >

      <v-btn variant="plain" @click="toggle('unread')" class="bookmark" icon>
        <v-icon size="x-large" v-if="l.unread">fas fa-bookmark</v-icon>
        <v-icon size="x-large" v-if="!l.unread">far fa-bookmark</v-icon>
        <v-tooltip class="start-tooltip" activator="parent" location="start">
          <span v-if="l.unread">Oznacz jako przeczytane</span>
          <span v-if="!l.unread">Oznacz jako nieprzeczytane</span>
        </v-tooltip>
      </v-btn>

      <v-btn variant="plain" @click="toggle('favorite')" icon>
        <v-icon v-if="!l.favorite">far fa-heart</v-icon>
        <v-icon v-if="l.favorite">fas fa-heart</v-icon>
        <v-tooltip class="start-tooltip" activator="parent" location="bottom">
          <span v-if="!l.favorite">Dodaj do ulubionych</span>
          <span v-if="l.favorite">Usuń z ulubionych</span>
        </v-tooltip>
      </v-btn>

      <v-dialog v-model="dialog.tags" scrollable>
        <template v-slot:activator="{ props: dialog }">
          <v-btn variant="plain" icon v-bind="dialog" @click="refreshTags()">
            <v-icon>fas fa-tag</v-icon>
            <v-tooltip
              class="start-tooltip"
              activator="parent"
              location="bottom"
            >
              <span>Otaguj</span>
            </v-tooltip>
          </v-btn>
        </template>
        <v-card class="tags">
          <v-card-title>Zarządzanie tagami</v-card-title>
          <v-combobox
            theme="dark"
            class="mx-10 mt-6 align-center"
            style="min-width: 500px"
            v-model="newTags"
            label="Wpisz tagi oddzielone enterem"
            multiple
            variant="outlined"
            hide-selected
          >
            <template v-slot:selection="{ attrs, item }">
              <v-chip closable v-bind="attrs" @click:close="removeTag(item)">
                {{ item.value?.name ?? item.value }}
              </v-chip>
            </template>
          </v-combobox>

          <v-card-actions>
            <v-btn @click="setTags()">ZAPISZ</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-btn @click="shareLink()" variant="plain" icon>
        <v-icon>fas fa-share</v-icon>
        <v-tooltip class="start-tooltip" activator="parent" location="bottom">
          <span>Udostępnij</span>
        </v-tooltip>
      </v-btn>

      <v-btn variant="plain" @click="dialog.archive = true" icon>
        <v-icon> fas fa-box-archive </v-icon>
        <v-tooltip class="start-tooltip" activator="parent" location="bottom">
          <span>Archiwizuj</span>
        </v-tooltip>
      </v-btn>

      <v-dialog v-model="dialog.archive">
        <v-card>
          <v-card-text>
            Czy jesteś pewny że chcesz archiwizować ten link?
          </v-card-text>
          <v-card-actions class="justify-space-between">
            <v-btn variant="plain" color="error" @click="dialog.archive = false"
              >Anuluj</v-btn
            >
            <v-btn variant="plain" color="success" @click="toggle('archive')"
              >Potwierdź</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-btn variant="plain" @click="dialog.delete = true" icon="">
        <v-icon> fas fa-trash-can </v-icon>
        <v-tooltip class="start-tooltip" activator="parent" location="bottom">
          <span>Usuń z listy</span>
        </v-tooltip>
      </v-btn>

      <v-dialog v-model="dialog.delete">
        <v-card>
          <v-card-text>
            Czy jesteś pewny że chcesz usunąć ten link?
          </v-card-text>
          <v-card-actions class="justify-space-between">
            <v-btn color="error" @click="dialog.delete = false">Anuluj</v-btn>
            <v-btn color="success" @click="deleteLink()">Potwierdź</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-btn variant="plain" size="large" rounded="0" @click="readLink()"
        >Czytaj&nbsp;<v-icon size="small">fas fa-angles-right</v-icon></v-btn
      >
    </v-card-actions>
  </v-card>
  <v-snackbar
    v-model="snackbar.show"
    :timeout="5000"
    :color="snackbar.color"
    rounded="pill"
  >
    <div class="text-center">
      {{ snackbar.message }}
    </div>
  </v-snackbar>
</template>

<script>
import { ref, mergeProps, reactive } from "vue";
import LinkService from "@/services/link.service";
import router from "@/router";
import { useRoute } from "vue-router";
export default {
  props: {
    link: Object,
  },
  emits: ["refresh"],
  setup(props, context) {
    const route = useRoute();

    const l = ref(props.link);
    const snackbar = reactive({ show: false, color: "", message: "" });

    const newTags = ref(null);
    newTags.value = l.value.tags;

    const dialog = ref({
      archive: false,
      delete: false,
      tags: false,
    });

    function toggle(toggleOption) {
      switch (toggleOption) {
        case "favorite":
          l.value.favorite = !l.value.favorite;
          break;
        case "unread":
          l.value.unread = !l.value.unread;
          break;
        case "archive":
          l.value.archived = !l.value.archived;
          dialog.value.archive = false;
          context.emit("refresh");
          break;
      }
      LinkService.patchLink(l.value.id, toggleOption, null).then(() => {
        if (!l.value.favorite && route.path !== "/links") {
          context.emit("refresh");
        }
      });
    }

    function setTags() {
      const tags = newTags.value.map((tag) => {
        return new Object({ id: tag.id, name: tag.name ?? tag });
      });
      l.value.tags = newTags.value;
      LinkService.patchLink(l.value.id, null, tags);
      dialog.value.tags = false;
    }

    function deleteLink() {
      LinkService.deleteLink(l.value.id).then(() => {
        context.emit("refresh");
      });
      dialog.value.delete = false;
    }

    function shareLink() {
      LinkService.shareLink(l.value.id).then((res) => {
        snackbar.color = res.status === 200 ? "secondary" : "error";
        snackbar.message =
          res.status === 200
            ? "Udostępniono link"
            : "Ten link jest już udostępniony na profilu";
        snackbar.show = true;
      });
    }

    function readLink() {
      router.push(`/read/${l.value.id}`);
      if (l.value.unread) {
        toggle("unread");
      }
    }

    const addedAtDate = new Date(l.value.addedAt);
    const addedAt =
      (addedAtDate.getDate() < 9 ? "0" : "") +
      addedAtDate.getDate() +
      "-" +
      (addedAtDate.getMonth() < 9 ? "0" : "") +
      (addedAtDate.getMonth() + 1) +
      "-" +
      addedAtDate.getFullYear() +
      ", " +
      (addedAtDate.getHours() < 10 ? "0" : "") +
      addedAtDate.getHours() +
      ":" +
      (addedAtDate.getMinutes() < 10 ? "0" : "") +
      addedAtDate.getMinutes();

    function removeTag(item) {
      newTags.value = newTags.value.filter((tag) => {
        return tag.name !== item.value.name;
      });
    }

    function refreshTags() {
      newTags.value = l.value.tags;
    }

    return {
      dialog,
      mergeProps,
      l,
      toggle,
      setTags,
      addedAt,
      deleteLink,
      readLink,
      newTags,
      removeTag,
      refreshTags,
      shareLink,
      snackbar,
    };
  },
};
</script>

<style scoped>
a {
  text-decoration: none;
}

::v-deep(.v-combobox .v-field input) {
  align-self: unset !important;
}

.link-card {
  background-color: #121212;
}

.start-tooltip {
  white-space: nowrap;
}

::v-deep(.v-overlay__content) {
  width: unset !important;
}

.link-url:hover {
  color: #a52422 !important;
}

.bookmark {
  position: absolute;
  top: -10px;
  right: 8px;
}

.tags {
  width: 800px;
}
</style>
