<template>
  <main-layout>
    <v-theme-provider theme="dark">
      <v-menu>
        <template v-slot:activator="{ props }">
          <v-btn
            variant="plain"
            elevation="0"
            icon="fas fa-arrow-up-wide-short"
            v-bind="props"
            class="bg-transparent text-white mt-14 mt-md-0"
          >
            <v-icon v-if="order === 'newest'"
              >fas fa-arrow-up-wide-short</v-icon
            >
            <v-icon v-if="order === 'oldest'"
              >fas fa-arrow-down-short-wide</v-icon
            >
          </v-btn>
        </template>
        <v-card theme="dark">
          <v-card-title>Sortowanie</v-card-title>
          <v-list nav>
            <v-list-item>
              <v-btn
                name="newest"
                @click="sort('newest')"
                elevation="0"
                rounded="0"
                prepend-icon="fas fa-arrow-up-wide-short"
                :active="order === 'newest'"
                >Od najnowszych
              </v-btn>
            </v-list-item>
            <v-list-item>
              <v-btn
                name="oldest"
                @click="sort('oldest')"
                elevation="0"
                rounded="0"
                prepend-icon="fas fa-arrow-down-short-wide"
                :active="order === 'oldest'"
                >Od najstarszych
              </v-btn>
            </v-list-item>
          </v-list>
        </v-card>
      </v-menu>
    </v-theme-provider>
    <v-card elevation="0" class="bg-transparent">
      <template v-if="loading">
        <div class="d-flex justify-center my-16">
          <v-progress-circular
            color="teal"
            :size="50"
            :width="7"
            indeterminate
          ></v-progress-circular>
        </div>
      </template>
      <template v-else>
        <default-link-component
          v-for="l in links"
          :key="l.id"
          :link="l"
          @refresh="refresh()"
        ></default-link-component>
      </template>
      <v-pagination
        v-if="!loading && pageCount > 1"
        active-color="secondary"
        v-model="page"
        theme="dark"
        :length="pageCount"
        :total-visible="6"
        class="text-white"
        @update:modelValue="changePage()"
      ></v-pagination>
    </v-card>
  </main-layout>
</template>

<script>
import MainLayout from "@/views/MainLayout.vue";
import DefaultLinkComponent from "@/components/DefaultLinkComponent.vue";
import { ref } from "vue";
import LinkService from "@/services/link.service";
import { useRoute, useRouter } from "vue-router";

export default {
  components: { MainLayout, DefaultLinkComponent },
  setup() {
    const route = useRoute();
    const router = useRouter();
    const loading = ref(true);

    const links = ref([]);
    const page = ref(route.query?.page ? Number(route.query?.page) : 1);
    const pageCount = ref(1);
    const order = ref(route.query?.sort ? route.query?.sort : "newest");

    function loadLinks() {
      loading.value = true;
      LinkService.getLinks("FAVORITES", page.value, order.value)
        .then((res) => {
          links.value = res.content;
          pageCount.value = res.totalPages;
        })
        .then(() => {
          if (page.value > pageCount.value) {
            page.value -= 1;
            changePage();
          }
        })
        .then(() => {
          loading.value = false;
        });
    }

    loadLinks();

    function refresh() {
      loadLinks();
    }

    function sort(_order) {
      router.push({ query: { ...route.query, sort: _order } });
      order.value = _order;
      loadLinks();
    }

    function changePage() {
      if (page.value) {
        if (page.value !== 1) {
          router.push({ query: { ...route.query, page: page.value } });
        } else {
          router.push({
            query: route.query?.sort ? { sort: route.query.sort } : {},
          });
        }
        links.value = [];
        loadLinks();
      }
    }

    return {
      loading,
      links,
      refresh,
      page,
      pageCount,
      changePage,
      order,
      sort,
    };
  },
};
</script>

<style></style>
