<template>
  <home-layout>
    <v-theme-provider theme="dark">
      <v-card
        variant="text"
        :elevation="0"
        class="bg-transparent ma-2 ma-sm-16"
      >
        <v-card-title class="text-white text-center text-sm-left">
          <span class="font-weight-light text-h4 text-sm-h3">Pomoc</span>
          <v-divider class="mt-8"></v-divider>
        </v-card-title>
        <v-container class="mt-16 overflow-visible">
          <v-row no-gutters>
            <v-col
              md="3"
              class="justify-end pr-4 overflow-visible d-none d-md-flex"
            >
            </v-col>
            <v-col cols="9" md="6"> </v-col>
            <v-col cols="3"> </v-col>
          </v-row>
          <v-row no-gutters class="mt-10">
            <v-col
              md="3"
              class="justify-end pr-4 overflow-visible d-none d-md-flex"
            >
            </v-col>
            <v-col cols="9" md="6"> </v-col>
            <v-col cols="3"> </v-col>
          </v-row>
          <v-row class="mt-16">
            <v-col class="d-flex justify-center"> </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-theme-provider>
  </home-layout>
</template>

<script setup>
import HomeLayout from "@/views/HomeLayout.vue";
</script>

<style scoped>
.account-text-field {
}
</style>
