<template>
  <main-layout>
    <span>Wyróżnienia</span>
  </main-layout>
</template>

<script>
import MainLayout from "@/views/MainLayout.vue";
export default {
  components: { MainLayout },
  setup() {
    return {};
  },
};
</script>

<style></style>
