<template>
  <home-layout>
    <div id="landing-page">
      <div id="title-section" class="lp-section">
        <span class="text-logo">Link<span>Box</span></span>
        <span class="my-10">
          Twoja prywatna przestrzeń, w której zapiszesz nieograniczoną ilość
          stron, artykułów czy publikacji.
        </span>
        <v-btn
          id="scroll-down"
          to="#desc-section"
          icon="fas fa-chevron-down"
          variant="plain"
        ></v-btn>
      </div>

      <div id="parallax-section" class="lp-section"></div>

      <div id="description" ref="description" class="lp-section">
        <v-row cols="12">
          <v-col cols="12" sm="6" md="3">
            <v-card elevation="0" color="transparent">
              <v-card-title class="text-center">
                <v-icon size="75">fas fa-list-check</v-icon>
              </v-card-title>
              <v-card-text class="text-center text-body-1 mt-4">
                Twoja własna przestrzeń, w której zapiszesz swoje ulubione
                treści
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12" sm="6" md="3">
            <v-card elevation="0" color="transparent">
              <v-card-title class="text-center">
                <v-icon size="75">fas fa-book-open-reader</v-icon>
              </v-card-title>
              <v-card-text class="text-center text-body-1 mt-4">
                Tryb czytania wolny od reklam i innych rozprzaszających
                elementów
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12" sm="6" md="3">
            <v-card elevation="0" color="transparent">
              <v-card-title class="text-center">
                <v-icon size="75">fas fa-tags</v-icon>
              </v-card-title>
              <v-card-text class="text-center text-body-1 mt-4">
                Oznaczanie linków tagami, aby jeszcze szybciej i łatwiej
                segregować treści
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12" sm="6" md="3">
            <v-card elevation="0" color="transparent">
              <v-card-title class="text-center">
                <v-icon size="75">fas fa-highlighter</v-icon>
              </v-card-title>
              <v-card-text class="text-center text-body-1 mt-4">
                Wyróżnienia tekstu, które pomogą zaznaczyć to co najważniejsze
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
      <div id="help" class="lp-section">
        <span class="text-h6 text-center">Jak zapisywać? </span>
        <!-- <v-img cover width="50%" src="../assets/link-box-address.png"></v-img> -->
      </div>
    </div>
  </home-layout>
</template>

<script>
import HomeLayout from "@/views/HomeLayout.vue";
export default {
  components: { HomeLayout },
  setup() {
    return {};
  },
};
</script>

<style>
#landing-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.text-logo {
  font-size: xx-large;
  width: max-content;
}

.text-logo > span {
  font-weight: 100;
}

.lp-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 25px;
}

#title-section {
  background: #080808;
  color: white;
  justify-content: center;
  align-items: center;
}

#scroll-down:hover {
  color: #a52422;
}

#parallax-section {
  background-image: url(../assets/parallax.jpg);
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
}

#description {
  background: #38726c;
}

#help {
  background: #a52422;
}
</style>
