<template>
  <main-layout>
    <v-theme-provider theme="dark">
      <v-card elevation="0" class="bg-transparent mt-16 mt-md-0">
        <v-row cols="12">
          <v-col cols="12" md="4">
            <v-card-actions style="height: 100%">
              <v-text-field
                class="v-theme-provider"
                variant="outlined"
                prepend-inner-icon="fas fa-magnifying-glass"
                label="Szukaj"
                hide-details
                clearable
              ></v-text-field>
            </v-card-actions>
          </v-col>
          <v-col cols="12" md="8">
            <v-card-actions class="justify-end">
              <v-divider
                vertical
                thickness="2"
                class="mr-8 d-none d-sm-none d-md-block v-theme-provider"
              ></v-divider>
              <v-fade-transition>
                <v-item-group class="flex-grow-1 flex-column">
                  <v-text-field
                    v-model="url"
                    class="mb-2 v-theme-provider"
                    variant="outlined"
                    prepend-inner-icon="fas fa-link"
                    label="Link"
                    hide-details="auto"
                    clearable
                  ></v-text-field>
                  <v-file-input
                    :prepend-icon="null"
                    prepend-inner-icon="fas fa-file-lines"
                    class="v-theme-provider"
                    variant="outlined"
                    v-model="file"
                    label="Plik TXT/JSON"
                    hide-details="auto"
                    accept=".txt, .json"
                    chips
                    show-size
                  >
                  </v-file-input>
                </v-item-group>
              </v-fade-transition>

              <v-btn
                variant="plain"
                @click="addLink()"
                size="x-large"
                class="ml-2 text-white"
                icon="fas fa-plus"
              ></v-btn>
            </v-card-actions>
          </v-col>
        </v-row>
      </v-card>
    </v-theme-provider>
    <v-card elevation="0" class="bg-transparent">
      <v-menu>
        <template v-slot:activator="{ props }">
          <v-btn
            variant="plain"
            elevation="0"
            icon="fas fa-arrow-up-wide-short"
            v-bind="props"
            class="bg-transparent text-white"
          >
            <v-icon v-if="order === 'newest'"
              >fas fa-arrow-up-wide-short</v-icon
            >
            <v-icon v-if="order === 'oldest'"
              >fas fa-arrow-down-short-wide</v-icon
            >
          </v-btn>
        </template>
        <v-card theme="dark">
          <v-card-title>Sortowanie</v-card-title>
          <v-list nav>
            <v-list-item>
              <v-btn
                name="newest"
                @click="sort('newest')"
                elevation="0"
                rounded="0"
                prepend-icon="fas fa-arrow-up-wide-short"
                :active="order === 'newest'"
                >Od najnowszych
              </v-btn>
            </v-list-item>
            <v-list-item>
              <v-btn
                name="oldest"
                @click="sort('oldest')"
                elevation="0"
                rounded="0"
                prepend-icon="fas fa-arrow-down-short-wide"
                :active="order === 'oldest'"
                >Od najstarszych
              </v-btn>
            </v-list-item>
          </v-list>
        </v-card>
      </v-menu>
      <template v-if="loading">
        <div class="d-flex justify-center my-16">
          <v-progress-circular
            color="teal"
            :size="50"
            :width="7"
            indeterminate
          ></v-progress-circular>
        </div>
      </template>
      <template v-else>
        <default-link-component
          v-for="l in links"
          :key="l.id"
          :link="l"
          @refresh="refresh()"
        ></default-link-component>
      </template>
      <v-pagination
        v-if="!loading && pageCount > 1"
        active-color="secondary"
        v-model="page"
        theme="dark"
        :length="pageCount"
        :total-visible="6"
        class="text-white"
        @update:modelValue="changePage()"
      ></v-pagination>
    </v-card>
  </main-layout>
</template>

<script>
import MainLayout from "@/views/MainLayout.vue";
import DefaultLinkComponent from "@/components/DefaultLinkComponent.vue";
import { ref } from "vue";
import LinkService from "@/services/link.service";
import ReadService from "@/services/read.service";
import { Readability } from "@mozilla/readability";
import { useRoute, useRouter } from "vue-router";

export default {
  components: { MainLayout, DefaultLinkComponent },
  setup() {
    const route = useRoute();
    const router = useRouter();

    const loading = ref(true);
    const links = ref([]);
    const page = ref(route.query?.page ? Number(route.query?.page) : 1);
    const pageCount = ref(1);
    const order = ref(route.query?.sort ? route.query?.sort : "newest");

    function loadLinks() {
      loading.value = true;
      LinkService.getLinks("DEFAULT", page.value, order.value)
        .then((res) => {
          links.value = res.content;
          pageCount.value = res.totalPages;
        })
        .then(() => {
          if (page.value > pageCount.value) {
            page.value -= 1;
            changePage();
          }
        })
        .then(() => {
          loading.value = false;
        });
    }

    loadLinks();

    function addLinkFromUrl(_url) {
      let title;
      let description;
      ReadService.getSourceCodeByUrl(_url)
        .then((source) => {
          const parser = new DOMParser();
          const doc = parser.parseFromString(source.data, "text/html");
          const read = new Readability(doc).parse();
          title = read.title;
          description = read.textContent.slice(0, 255).trim();
        })
        .then(() => {
          LinkService.addLink(_url, title, description);
        });
    }

    function addLink() {
      if (url.value) {
        addLinkFromUrl(url.value);
      }
      if (file.value) {
        console.log(file.value[0]);

        const reader = new FileReader();
        reader.readAsText(file.value[0], "UTF-8");
        reader.onloadend = () => {
          reader.result.split("\n").forEach((el) => addLinkFromUrl(el));
        };
      }
    }

    function sort(_order) {
      router.push({ query: { ...route.query, sort: _order } });
      order.value = _order;
      loadLinks();
    }

    function refresh() {
      loadLinks();
    }

    const url = ref(null);
    const file = ref(null);

    function changePage() {
      if (page.value) {
        if (page.value !== 1) {
          router.push({ query: { ...route.query, page: page.value } });
        } else {
          router.push({
            query: route.query?.sort ? { sort: route.query.sort } : {},
          });
        }
        links.value = [];
        loadLinks();
      }
    }

    return {
      links,
      url,
      file,
      loading,
      sort,
      addLink,
      refresh,
      page,
      pageCount,
      changePage,
      order,
    };
  },
};
</script>

<style>
.v-field__prepend-inner {
  margin-right: 10px;
}
</style>
