<template>
  <v-card class="my-4 link-card" theme="dark">
    <v-card-title class="pr-16">
      <span class="flex-grow-1">{{ l.title }}</span>
      <v-chip-group class="mr-10" v-if="l.tags">
        <v-chip
          :ripple="false"
          size="x-small"
          v-for="(t, j) in l.tags"
          :key="j"
          :value="t"
          ><span>
            {{ t.name ?? t }}
          </span>
        </v-chip>
      </v-chip-group>
    </v-card-title>
    <v-card-subtitle>
      <a target="_blank" class="text-secondary link-url" :href="l.url">{{
        l.url
      }}</a>
    </v-card-subtitle>

    <v-card-text class="pr-16 mr-16">{{ l.description }}...</v-card-text>
    <v-card-actions v-if="auth.status.loggedIn">
      <v-spacer></v-spacer>

      <v-btn v-if="!ownProfile" @click="addSharedLink()" variant="plain" icon>
        <v-icon>fas fa-plus</v-icon>
        <v-tooltip class="start-tooltip" activator="parent" location="bottom">
          <span>Dodaj do swojej listy</span>
        </v-tooltip>
      </v-btn>

      <v-btn
        v-if="ownProfile"
        variant="plain"
        @click="dialog.delete = true"
        icon=""
      >
        <v-icon> fas fa-trash-can </v-icon>
        <v-tooltip class="start-tooltip" activator="parent" location="bottom">
          <span>Usuń z profilu</span>
        </v-tooltip>
      </v-btn>

      <v-dialog v-model="dialog.delete">
        <v-card>
          <v-card-text>
            Czy jesteś pewny że chcesz usunąć ten link z profilu?
          </v-card-text>
          <v-card-actions class="justify-space-between">
            <v-btn color="error" @click="dialog.delete = false">Anuluj</v-btn>
            <v-btn color="success" @click="deleteLink()">Potwierdź</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-btn variant="plain" size="large" rounded="0" @click="readLink()"
        >Czytaj&nbsp;<v-icon size="small">fas fa-angles-right</v-icon></v-btn
      >
    </v-card-actions>
  </v-card>
  <v-snackbar
    v-model="snackbar.show"
    :timeout="5000"
    :color="snackbar.color"
    rounded="pill"
  >
    <div class="text-center">
      {{ snackbar.message }}
    </div>
  </v-snackbar>
</template>

<script>
import { ref, mergeProps, reactive } from "vue";
import LinkService from "@/services/link.service";
import router from "@/router";
import { useAuth } from "@/store/auth";
import ReadService from "@/services/read.service";
import { Readability } from "@mozilla/readability";
export default {
  props: {
    link: Object,
    ownProfile: Boolean,
  },
  emits: ["refresh"],
  setup(props, context) {
    const l = ref(props.link);
    const snackbar = reactive({ show: false, color: "", message: "" });
    const auth = useAuth();

    const dialog = ref({
      delete: false,
    });

    function deleteLink() {
      LinkService.deleteSharedLink(l.value.id).then(() => {
        context.emit("refresh");
        snackbar.message = "Usunięto link z profilu";
        snackbar.color = "secondary";
        snackbar.show = true;
      });
      dialog.value.delete = false;
    }

    function addSharedLink() {
      let title;
      let description;
      ReadService.getSourceCodeByUrl(l.value.url)
        .then((source) => {
          const parser = new DOMParser();
          const doc = parser.parseFromString(source.data, "text/html");
          const read = new Readability(doc).parse();
          title = read.title;
          description = read.textContent.slice(0, 255).trim();
        })
        .then(() => {
          LinkService.addLink(l.value.url, title, description).then(() => {
            snackbar.color = "secondary";
            snackbar.message = "Dodano link do Twojej listy";
            snackbar.show = true;
          });
        });
    }

    function readLink() {
      router.push(`/read/${l.value.id}`);
    }

    return {
      dialog,
      mergeProps,
      l,
      deleteLink,
      readLink,
      addSharedLink,
      snackbar,
      auth,
    };
  },
};
</script>

<style scoped>
a {
  text-decoration: none;
}

::v-deep(.v-combobox .v-field input) {
  align-self: unset !important;
}

.link-card {
  background-color: #121212;
}

.start-tooltip {
  white-space: nowrap;
}

::v-deep(.v-overlay__content) {
  width: unset !important;
}

.link-url:hover {
  color: #a52422 !important;
}
</style>
