<template>
  <home-layout>
    <v-theme-provider theme="dark">
      <template v-if="loading">
        <div class="d-flex justify-center my-16">
          <v-progress-circular
            color="teal"
            :size="50"
            :width="7"
            indeterminate
          ></v-progress-circular>
        </div>
      </template>
      <template v-else>
        <v-card
          variant="text"
          :elevation="0"
          class="bg-transparent ma-2 ma-sm-16 mb-sm-2"
        >
          <v-card-title class="text-white text-center text-sm-left">
            <span class="font-weight-light text-h4 text-sm-h3">{{
              profile.alias ?? profile.uuid
            }}</span>
            <v-divider class="mt-8"></v-divider>
          </v-card-title>
        </v-card>

        <v-card variant="text" :elevation="0" class="bg-transparent">
          <v-card-title class="text-white text-center text-sm-left">
            <span class="font-weight-light text-h6 text-sm-h5">
              Udostępnione linki
            </span>
          </v-card-title>
        </v-card>

        <profile-link-component
          v-for="l in profile.links"
          :key="l.id"
          :link="l"
          :ownProfile="ownProfile"
          @refresh="refresh()"
        ></profile-link-component>
      </template>
    </v-theme-provider>
  </home-layout>
</template>

<script setup>
import HomeLayout from "@/views/HomeLayout.vue";
import ProfileLinkComponent from "@/components/ProfileLinkComponent";
import { ref } from "vue";
import { useAuth } from "@/store/auth";
import UserProfileService from "@/services/user-profile.service";
import { useRoute } from "vue-router";

const auth = useAuth();
const route = useRoute();

const loading = ref(true);
const profile = ref(null);
const ownProfile = ref(false);

function loadLinks() {
  loading.value = true;
  if (route.params.id) {
    UserProfileService.getUserProfileById(route.params.id)
      .then((res) => {
        profile.value = res.data;
        if (auth.user) {
          ownProfile.value =
            res.data.uuid === auth.user.userProfile ||
            res.data.alias === auth.user.userProfileAlias;
        }
      })
      .then(() => {
        loading.value = false;
      });
  } else {
    UserProfileService.getUserProfile()
      .then((res) => {
        profile.value = res;
        ownProfile.value = true;
      })
      .then(() => {
        loading.value = false;
      });
  }
}

loadLinks();

function refresh() {
  loadLinks();
}
</script>

<style></style>
