<template>
  <v-navigation-drawer
    :permanent="name !== 'sm' && name !== 'xs'"
    :temporary="name === 'sm' || name === 'xs'"
    v-model="showSidebar"
    floating
    theme="dark"
  >
    <v-card class="pt-4" elevation="0">
      <v-list nav active-color="secondary">
        <v-list-item prepend-icon="fas fa-house" to="/">
          Strona główna
        </v-list-item>
        <v-divider class="my-4" />
        <v-list-item prepend-icon="fas fa-list" to="/links">Linki</v-list-item>
        <v-list-item prepend-icon="fas fa-heart" to="/favorites">
          Ulubione
        </v-list-item>
        <v-list-item prepend-icon="fas fa-box-archive" to="/archive">
          Archiwum
        </v-list-item>
        <v-list-item prepend-icon="fas fa-highlighter" to="/highlights">
          Wyróżnienia
        </v-list-item>
        <v-list-item prepend-icon="fas fa-tags" to="/tags"> Tagi </v-list-item>
      </v-list>
    </v-card>
    <template v-slot:append>
      <div class="pa-2">
        <v-btn prepend-icon="fas fa-right-from-bracket" block @click="logout()">
          WYLOGUJ
        </v-btn>
      </div>
    </template>
    <v-btn
      theme="dark"
      :rounded="0"
      variant="plain"
      class="position-absolute sidebar-button text-white d-block d-md-none rounded-e-xl"
      @click="showSidebar = !showSidebar"
    >
      <v-icon v-if="!showSidebar" class="ml-6">fas fa-chevron-right</v-icon>
      <v-icon v-if="showSidebar" class="ml-6">fas fa-chevron-left</v-icon>
    </v-btn>
  </v-navigation-drawer>
</template>

<script>
import { useAuth } from "@/store/auth";
import { useRouter } from "vue-router";
import { useDisplay } from "vuetify";
import { ref } from "vue";
export default {
  setup() {
    const auth = useAuth();
    const router = useRouter();
    const { name } = useDisplay();
    const showSidebar = ref(true);

    function logout() {
      auth.logout();
      router.push({ name: "main" });
    }

    return {
      logout,
      name,
      showSidebar,
    };
  },
};
</script>

<style>
.sidebar-button {
  right: -72px;
  top: 16px;
  background-color: #212121;
  float: right;
  height: 48px !important;
}
</style>
